/* common section and classes */
.red_color{
	color:$red_color !Important;
}
.green_color{
	color:$green_color !Important;
}
.blue{
	color:$blue !important;
}
.blue_heading{
	color:$blue_heading !important;
}
.red_heading{
color:$red_heading !important;
}
.anchor{
	color:$anchor !important;
	&:hover{
		color:$body_color !important;
	}
	&:focus{
		color:$grey_focus!important;
	}
}
.grey{
	color:$title_color !important;
}
.spacer_40{
	min-height:40px;
}
.spacer_20{
	min-height:20px;
}
.spacer_10{
	min-height:10px;
}
.spacer_25{
	min-height:25px;
}
.spacer_60{
	min-height:60px;
}
.no_space{
	padding-top:0px !important;
}
hr{
	border:0;
	border-bottom:solid 1px rgba(77, 78, 76, 0.3);
}
.hr_full{
	@include position(absolute,$left:0px);
	width:100%;
}


/* Modal css */
.modal{
	.modal-body{
		@include size(800px,auto);
		max-width:100%;
		@include rem(padding,50px 20px 50px 45px);
		background:$white; 
		transform:translate(-50%,-50%);
		@include position(absolute, $top:50%, $left:50%);
		.mCustomScrollBox{
			&:after{
			 content: '';
			@include position(absolute,$right:0px,$bottom:0);
			@include size(100%,18%);
			 background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), #ffffff);
			}
		}
	}
	.close_Btn{
		@include position(absolute, $top:20px, $right:20px);
		background:$dark_blue;
		@include size(26px);
		@include border-radius(50%);
		@include rem(font-size, 18px);
		@include rem(line-height, 25px);
		text-align:$center;
		color:$white;
		z-index:999;
	}
	.modal_header{
		h3{
			@include rem(font-size, 26px); 
			color:$title_color;
			@include rem(margin,0px 0 30px);
			letter-spacing: 1.1px;
		}
	}
	.content{
		h2{
			@include rem(font-size, 20px); 
			color:$title_color;
			@include rem(margin,0px 0 10px);
		}
		p{
			@include rem(padding,0px 0 25px);
			line-height:26px;
			letter-spacing: 0.4px;
			color:$light_black;
		}
		&.scroller{
			height:434px;
			.mCSB_scrollTools{
				.mCSB_draggerRail{
					width:5px;
					border-radius:15px;
					background:#fff;
				}
				.mCSB_dragger{
					&:hover{
						.mCSB_dragger_bar{
							background:#bcc4c7 !important;
						}
					}
					.mCSB_dragger_bar{
						background:#bcc4c7 !important;
						height: 200px !important;
						border-radius:15px;
						margin: 0 auto;
						width: 5px;
					}
				}
			}
		}
	}
}


/* Form-control css */
.form-control::-webkit-input-placeholder { 
	color:$placeholder-color;
}
.form-control::-moz-placeholder{
color:$placeholder-color;
}
.form-control:-ms-input-placeholder{
color:$placeholder-color !important;
}
.form-control.placeholder{color:$placeholder-color !important; }
.registration_form .form-control.half.placeholder + .half + .placeholder{margin-right:0;}
.registration_form .form-control#Re_pass,.registration_form .form-control#Re_pass + .form-control{margin-right:0;}
.form-control:-moz-placeholder{
color:$placeholder-color;
}
.form-control[disabled], fieldset[disabled] .form-control{
	border:0px;
	background:$disabled_field_bg;
}
.form-control{
	@include size(100%,50px);
	color:$body_color !important;
	border-color:$dark_grey_color;
	box-shadow:none;
	outline:none;
	&:focus{
		border-color:$blue !important;
		box-shadow:none;
		outline:none;
	}
	&:active{
		border-color:$blue !important;
		box-shadow:none;
		outline:none;
	}
	
}
.form-group{
	&.error{
		.form-control{
			border-color:$red_color !important;
		}
	}
&.space_less{margin-bottom:0;}
	@include rem(margin,0px 0 20px);
	&.lw{
		@include rem(margin,26px 37px 0px);
	}
}
.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius:4px;
    @include size(20px);
    float:$left;
    margin-right: 1.3em;
	position:$absolute;
	left:0;
}


.checkbox .cr .cr-icon{
    position:$absolute;
    @include rem(font-size, 10px); 
    line-height: 0;
    top: 9px;
    left: 4px;
}


.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform:none;
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
	color:$white;
}
.checkbox label input[type="checkbox"]:checked + .cr{
	background:$blue;
	border-color:$blue;
}
.checkbox label input[type="checkbox"]:checked:hover + .cr  > .cr-icon{
	color:$white; 
	opacity:1;
}
.checkbox label input[type="checkbox"] + .cr:hover{
	border-color:$blue;
}
.checkbox label input[type="checkbox"]:hover + .cr > .cr-icon{
	color:$blue;
	 opacity: .2;
}
.checkbox{
	margin:0;
}
.checkbox label, .radio label{
padding:0;
}

label.btn span {
 @include rem(font-size, 14px); 
 @include rem(padding,0px 0 0 15px);
  vertical-align:$middle;
}
label input[type="radio"] +.fa-circle-o:before{
	content:none;
}
label input[type="radio"] +.fa-circle-o{
	@include size(20px,20px);
	border-radius:50%; 
	border:1px solid $radio_color;
	display:$inline-block; 
	vertical-align:$middle;
}
label input[type="radio"] +.fa+.fa-dot-circle-o{
	 @include size(20px); 
	 border-radius:50%;
	 border:1px solid $blue;
	 display:$inline-block;
	 vertical-align:$middle;
	 background:$blue;
	 position:$relative;
}
label input[type="radio"] +.fa+.fa-dot-circle-o:before{
	 content:"";
	 @include size(8px); 
	 background:$white; 
	 border-radius:50%; 
	 display:$inline-block; 
	 @include position(absolute, $top:50%, $left:50%); 
	 @include rem(margin,-4px 0 0  -4px);
}
label.btn.active,label.btn:hover{
	color:$blue;
	font-weight:600;
}
label.btn:hover input[type="radio"] + .fa-circle-o{
	border-color:$blue;
	position:$relative;
}
label.btn:hover input[type="radio"] + .fa-circle-o:after{
	 content:"";
	 @include size(8px);
	 background:$blue;
	 border-radius:50%; 
	 display:$inline-block;
	 @include position(absolute, $top:50%, $left:50%);
	 @include rem(margin,-4px 0 0  -4px);
	 opacity:0.2;
}
label input[type="radio"] ~ i.fa.fa-circle-o{
    color: $radio_color;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: $blue; 
	display: inline-block;
}
label:hover input[type="radio"] ~ i.fa {
color: $blue;
}
.btn-group{
	&.bootstrap-select{
		padding:0px!important;
		width:235px !important;
		float: left !important;
		.btn{
			&[aria-expanded="false"]{color:$body_color !important;}
			margin-top: 0;
			font-weight: 400;
			@include size(100%,50px);
			border:1px solid $grey_border !important;
			box-shadow:none;
			outline:none;
			background:transparent !important;
			color:$placeholder-color !important;
			padding: 6px 12px;
			font-size: 14px;
			border-radius: 4px;
			outline:none !important;
			box-shadow:none !important;
		}
	}
}
.dropdown-menu{
	box-shadow:none; 
	margin:0;
	border-radius:4px;
	border:0px;
	padding:0;
	li{
		&.selected{
			a{
				background:$dropdown-hover;
			}
		}
		a{
		 line-height:40px;
		 color:$body_color;
		  &:hover{
			background:$dropdown-hover;
		  }
		}
	}
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
	right:20px;  
	color: rgba(0,0,0,0.4);
}
.bootstrap-select .dropdown-toggle:focus{
	outline:0px !important;
}
.open.bootstrap-select .dropdown-toggle .caret{
	color:$blue;
}
.validation_msg{
	background:$red_color;
	@include border-radius(4px);
	@include rem(padding,10px 18px);
	line-height:24px;
	ul{
		li{color:$white;
			 letter-spacing: 0.5px;
			position:$relative;
			@include rem(padding,0px 0px 1px 13px);
			@include rem(font-size,14px);
		text-align:$left;
		&:after{
			content:"";
			@include size(3px);
			background:$white;
			border-radius:50%;
			@include position(absolute, $top:12px, $left:0px);
		}
		}
	}
	&.fl{
		margin:0 !important;
	}
}